<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">FAQ</h1>
                <p class="col-md-8 fs-4">Ця сторінка допоможе Вам вирішити більшість проблем.</p>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="row align-items-md-stretch">
                <div class="row align-items-md-stretch">
                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5 text-white" style="background-color: #004d00; border-radius: 10px;">
                            <h2 class="text-white">Як я можу подати заявку на пропозицію щодо оренди землі?</h2>
                            <p>Ви можете подати заявку, перейшовши на сторінку <a href="/SubmitApplication/Submit" class="text-white">Подати заявку</a>. Вам потрібно буде заповнити необхідну інформацію, включаючи площу землі, бажану ціну за гектар та опис вашої пропозиції.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5" style="background-color: #c0ffc0; border-radius: 10px;">
                            <h2 class="text-dark">Які умови для подачі заявки?</h2>
                            <p>Для того щоб подати заявку, ви повинні: <br>- Бути старше 18 років.<br>- Надати повну інформацію про площу землі та умови оренди.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5 text-white" style="background-color: #004d00; border-radius: 10px;">
                            <h2 class="text-white">Скільки часу триває розгляд заявки?</h2>
                            <p>Зазвичай, ми намагаємося розглянути кожну заявку протягом 5-7 робочих днів. Ви отримаєте відповідь на вказану вами електронну пошту.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5" style="background-color: #c0ffc0; border-radius: 10px;">
                            <h2 class="text-dark">Як я дізнаюся про статус моєї заявки?</h2>
                            <p>Після подачі заявки ви можете перевірити її статус на сторінці <a href="/ApplicationForms/Index" class="text-dark">Переглянути заявки</a>. Також ви отримаєте повідомлення на електронну пошту.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5 text-white" style="background-color: #004d00; border-radius: 10px;">
                            <h2 class="text-white">Що робити, якщо моя заявка була відхилена?</h2>
                            <p>Якщо ваша заявка була відхилена, ви можете подати нову з оновленою інформацією або звернутися до наших фахівців для консультації.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5" style="background-color: #c0ffc0; border-radius: 10px;">
                            <h2 class="text-dark">Як я можу зв'язатися з компанією?</h2>
                            <p>Ви можете зв'язатися з нами через форму зворотного зв'язку на сайті або надіслати лист на <a href="mailto:info@agronomic-corp.com" class="text-dark">info@agronomic-corp.com</a>. Ми відповімо вам найближчим часом.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5 text-white" style="background-color: #004d00; border-radius: 10px;">
                            <h2 class="text-white">Чи можу я подати декілька заявок?</h2>
                            <p>Так, ви можете подати декілька заявок на різні ділянки землі, але кожна заявка повинна бути подана окремо.</p>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="h-100 p-5" style="background-color: #c0ffc0; border-radius: 10px;">
                            <h2 class="text-dark">Які документи потрібні для подачі заявки?</h2>
                            <p>Для подачі заявки документи не потрібні, але під час укладання угоди вам знадобляться документи про право власності на землю та ідентифікаційний код.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>