<main role="main">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://st4.depositphotos.com/13193658/30139/i/380/depositphotos_301395734-stock-photo-profile-senior-farmer-straw-hat.jpg" alt="Новина 1" width="140" height="140">
                <h2>Запуск нових проектів</h2>
                <p>Компанія оголосила про запуск декількох нових аграрних проектів, спрямованих на підтримку місцевих фермерів.</p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://st5.depositphotos.com/1480128/68518/i/380/depositphotos_685184046-stock-photo-young-farmer-examing-dirt-while.jpg" alt="Новина 2" width="140" height="140">
                <h2>Інвестиції в розвиток</h2>
                <p>Наша компанія отримала значні інвестиції для розвитку інфраструктури в аграрному секторі.</p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="https://st3.depositphotos.com/1480128/15579/i/380/depositphotos_155797446-stock-photo-tractor-spraying-soybean-field-at.jpg" alt="Новина 3" width="140" height="140">
                <h2>Конференція для фермерів</h2>
                <p>Щорічна конференція для фермерів пропонує унікальну можливість дізнатися більше про сучасні методи управління господарством.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Нові можливості.</h2>
                <p class="lead">Компанія запроваджує нові підходи до вирощування культур з мінімальним впливом на навколишнє середовище.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="https://static8.depositphotos.com/1418795/892/i/380/depositphotos_8927285-stock-photo-irrigation-pivot.jpg" alt="Новина">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Інновації в аграрній сфері. <span class="text-muted">Революційні зміни.</span></h2>
                <p class="lead">Ми зосереджені на впровадженні новітніх технологій для підвищення ефективності роботи наших господарств.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="https://st2.depositphotos.com/20363444/46658/i/380/depositphotos_466589588-stock-photo-partial-view-farmer-holding-digital.jpg" alt="Новина">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
</main>
